<h3>Ethnicity</h3>
<div class="filter-list-1">
  <label class="checkbox-container">White
    <%= check_box_tag('ethnicity[]', "White", true, {:multiple => true, :class => 'filter_checkbox'}) %>
    <span class="checkbox-checkmark"></span>
  </label>

  <label class="checkbox-container">Asian or Asian British
    <%= check_box_tag('ethnicity[]', "Asian_or_Asian_British", true, {:multiple => true, :class => 'filter_checkbox'}) %>
    <span class="checkbox-checkmark"></span>
  </label>

  <label class="checkbox-container">Black or Black British
    <%= check_box_tag('ethnicity[]', "Black_or_Black_British", true, {:multiple => true, :class => 'filter_checkbox'}) %>
    <span class="checkbox-checkmark"></span>
  </label>

  <label class="checkbox-container">Mixed
    <%= check_box_tag('ethnicity[]', "Mixed", true, {:multiple => true, :class => 'filter_checkbox'}) %>
    <span class="checkbox-checkmark"></span>
  </label>

  <label class="checkbox-container">Other Ethnic Groups
    <%= check_box_tag('ethnicity[]', "Other_Ethnic_Groups", true, {:multiple => true, :class => 'filter_checkbox'}) %>
    <span class="checkbox-checkmark"></span>
  </label>
</div>

