<h3>Ethnicity</h3>
<div class="filter-list-1">
  <label class="checkbox-container">White
    <%= check_box_tag('ethnicity[]', "WHITE", true, class:'input_radio') %>
    <span class="checkbox-checkmark"></span>
  </label>

  <label class="checkbox-container">Asian or Asian British
    <%= check_box_tag('ethnicity[]', "ASIAN OR ASIAN BRITISH", true, class:'input_radio') %>
    <span class="checkbox-checkmark"></span>
  </label>

  <label class="checkbox-container">Black or Black British
    <%= check_box_tag('ethnicity[]', "BLACK OR BLACK BRITISH", true, class:'input_radio') %>
    <span class="checkbox-checkmark"></span>
  </label>

  <label class="checkbox-container">Mixed
    <%= check_box_tag('ethnicity[]', "MIXED", true, class:'input_radio') %>
    <span class="checkbox-checkmark"></span>
  </label>

  <label class="checkbox-container">Other Ethnic Groups
    <%= check_box_tag('ethnicity[]', "OTHER ETHNIC GROUPS", true, class:'input_radio') %>
    <span class="checkbox-checkmark"></span>
  </label>
</div>

