<div class="side-bar-item grouping">
  <h2>Grouping</h2>
  <div class="grouping-list">
    <label class="radio-container">None
      <%= radio_button_tag('grouping', "none", true, class:'input_radio') %>
      <span class="radio-checkmark"></span>
    </label>
    <label class="radio-container">Baseline result
      <%= radio_button_tag('grouping', "baseline_result", false, class:'input_radio') %>
      <span class="radio-checkmark"></span>
    </label>
    <label class="radio-container">Diabetes type
      <%= radio_button_tag('grouping', "diabetes_type", false, class:'input_radio') %>
      <span class="radio-checkmark"></span>
    </label>
    <label class="radio-container">Ethnicity
      <%= radio_button_tag('grouping', "ethnicity", false, class:'input_radio') %>
      <span class="radio-checkmark"></span>
    </label>
    <label class="radio-container">Sex
      <%= radio_button_tag('grouping', "sex", false, class:'input_radio') %>
      <span class="radio-checkmark"></span>
    </label>
    <label class="radio-container">Deprivation decile
      <%= radio_button_tag('grouping', "deprivation", false, class:'input_radio') %>
      <span class="radio-checkmark"></span>
    </label>
    <label class="radio-container">GP CCG
      <%= radio_button_tag('grouping', "ccg", false, class:'input_radio') %>
      <span class="radio-checkmark"></span>
    </label>
  </div>
</div>