<div class="side-bar-item measure">
	<h2>Measure (y-axis)</h2>
	<div class="measure-list">
		<label class="radio-container">HbA1c
		  <%= radio_button_tag('y_measure', "hba1c", true, class:'input_radio') %>
		  <span class="radio-checkmark"></span>
		</label>
		<label class="radio-container">Cholesterol
		  <%= radio_button_tag('y_measure', "chol", false, class:'input_radio') %>
		  <span class="radio-checkmark"></span>
		</label>
		<label class="radio-container">eGFR
		  <%= radio_button_tag('y_measure', "egfr", false, class:'input_radio') %>
		  <span class="radio-checkmark"></span>
		</label>
		<label class="radio-container">BMI
		  <%= radio_button_tag('y_measure', "bmi", false, class:'input_radio') %>
		  <span class="radio-checkmark"></span>
		</label>
		<label class="radio-container">BP
		  <%= radio_button_tag('y_measure', "bp", false, class:'input_radio') %>
		  <span class="radio-checkmark"></span>
		</label>
	</div>
</div>

