<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Project KIP</title>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Press+Start+2P|Quicksand" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.js"></script>
</head>

<body>
<div class="wrapper">
    <header>
      <div>
          <h1>KHP-D Interactive Platform</h1>
        </div>
    </header>

    <div class="main">
      <div class="main-flex">
        <% # Side bar items %>
        
        
        <div class="side-bar">
          <%= form_tag(search_viz_ones_path, :id => 'filter_form') do %>
            <%= render('viz_ones/x_measure') %>
            <%= render('viz_ones/y_measure') %>
            <%= render('viz_ones/grouping') %>
            <%= render('viz_ones/filter') %>
            <%= render('viz_ones/controls') %>
          <% end %>
        </div>
        <% # The right side panel -%>
        <div class="plot">  
          <%= render('viz_ones/plot_item_container') %>
        </div>
      </div>
    </div>
</div>

<script>
  const year_box = document.querySelector('.year-box')
  const left_arrow = document.querySelector('.control-left')
  const right_arrow = document.querySelector('.control-right')

  left_arrow.addEventListener('click', function(){ 
    year_box.value > +2009 ? year_box.value-- : year_box.value = year_box.value
  })

  right_arrow.addEventListener('click', function(){ 
    year_box.value < +2016 ? year_box.value++ : year_box.value = year_box.value
  })
  
</script>